body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, Arial, lucida, sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, lucida, sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

img {
    border: none;
}
