<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">


    <!-- exiba o CPF, nome, cidade e estado de todos os candidatos inscritos. -->

    <h:head>
        <title>Lista de candidatos</title>
<!--        <h:outputStylesheet library="css" name="css/styles.css"  /> 	-->
        <ui:define name="styles">
            <link href="#{request.contextPath}/css/styles.css" rel="stylesheet" type="text/css" />
        </ui:define>	
    </h:head>

    <h:body>
        <h:form id="form">
            <h:dataTable id="candidatos"
                         styleClass="Table"
                         headerClass="tableHeader"
                         rowClasses="TableOddRow,TableEvenRow"
                         value="#{registroBean.candidatoList}"
                         var="c"
                         >
                <h:column>
                    <f:facet name="header"> <h:outputText value="CPF" /> </f:facet>
                    <h:inputText id="cpf" size="20" value="#{c.cpf}" title="CPF">
                        <f:validateLongRange minimum="1" />
                    </h:inputText>
                </h:column>
                <h:column>
                    <f:facet name="header"> <h:outputText value="Nome" /> </f:facet>
                    <h:inputText id="nome" size="20" value="#{c.nome}" title="Nome">
                        <f:validateLongRange minimum="1" />
                    </h:inputText>
                </h:column>
                <h:column>
                    <f:facet name="header"> <h:outputText value="Cidade" /> </f:facet>
                    <h:inputText id="cidade" size="20" value="#{c.cidade}" title="Cidade">
                        <f:validateLongRange minimum="1" />
                    </h:inputText>
                </h:column>
                <h:column>
                    <f:facet name="header"> <h:outputText value="Estado" /> </f:facet>
                    <h:inputText id="estado" size="20" value="#{c.estado}" title="Estado">
                        <f:validateLongRange minimum="1" />
                    </h:inputText>
                </h:column>
            </h:dataTable>
        </h:form>

    </h:body>
</html>
